
*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 10px;
    padding: 100px;
}
.container{
    background-color: #aaa;
    margin: 20px;
    padding: 20px;
}
input[type="text"],
input[type="email"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid;
}
.heading{
    text-align: center;
}
fieldset{
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid;
}
input[type="submit"]{
    background-color: aquamarine;
    width: 20%;
    padding: 17px;
    border-radius: 4px;
    border: none;
}
input[type="reset"]{
    background-color: cadetblue;
    width: 20%;
    padding: 17px;
    border-radius: 4px;
    border: none;
}
input[type="submit"]:hover{
    background-color: darkgoldenrod;
}
input[type="reset"]:hover{
    background-color: forestgreen;
}